<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script>



        function start() {
          var start_b = document.getElementById('start');
          var stop_b = document.getElementById('stop');
          var ans_b = document.getElementById('next');
          var resp_p = document.getElementById('resp_panel');
          start_b.style.display = 'none';
          stop_b.style.display = 'block';
          ans_b.style.display = 'none';
          resp_p.style.display = 'none'
          $.get( "{{ url_for('start_question') }}", function( data ) {});
        }

        function stop() {
          var start_b = document.getElementById('start');
          var stop_b = document.getElementById('stop');
          var ans_b = document.getElementById('next');
          var resp_p = document.getElementById('resp_panel');
          start_b.style.display = 'block';
          stop_b.style.display = 'none';
          ans_b.style.display = 'block';
          resp_p.style.display = 'block'

          $.getJSON( "{{ url_for('stop_question') }}", function( data ) {
            $('#resp_body').empty();
            for (var i = 0, len = data.length; i < len; i++) {
              $('#resp_body').append('<tr><td>'+(i+1)+'</td><td>'+data[i]+'</td></tr>');
            }
          });

        }

        function next() {
          $.get( "{{ url_for('next_ans') }}", function( data ) {});
        }
    </script>
</head>
<body>
    <div class="container">
            <a class="btn btn-success btn-big btn-block" id='start' href="#" onClick="start();">Ask Question</a>
            <a style="display:none;" class="btn btn-danger btn-big btn-block" id='stop' href="#" onClick="stop();">Stop Question</a>
            <a style="display:none;" class="btn btn-info btn-big btn-block" id='next' href="#" onClick="next();">Next Response</a>
    </div>

  <div class="panel panel-default" id='resp_panel' style="display:none;">
    <div class="panel-heading">Responses</div>
    <div class="panel-body">
      <table class="table" id='responses'>
        <thead>
          <tr><th>Answer</th><th>Student</th></tr>
        </thead>
        <tbody id='resp_body'>

        </tbody>
      </table>
    </div>
  </div>

</body>
</html>
